{% include "header.html" %}

    <section class="d-flex h-200 bg py-5 flex-container" style="background-image: url('{{cafe.img_url}}')">
    <div class="row py-lg-5" style="padding: 100px 0px 100px 0px;">
    <div style="padding: 100px 0px 100px 0px;">
      <div>
        <h1 style = "font-weight: bold; color: white; font-position: center;">{{cafe.name}}</h1>
      </div>
        <p>
          <a href="{{url_for('delete_cafe', cafe_id=cafe.id)}}" class="btn btn-primary my-2">Delete Cafe</a>
          <a href="{{url_for('edit_coffe', cafe_id=cafe.id)}}" class="btn btn-secondary my-2">Edit Cafe</a>
        </p>
      </div>
        </div>
    </div>
  </section>
<body class="body-bg body-bg">
    <div class="container flex-container_1">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul style = "background-color: white">
                <h3>City: {{cafe.location}}</h3>
                <h3>Address: <a href="{{cafe.map_url}}"> Link To The Cafe Address </a></h3>
                <h3>Coffe Price: {{cafe.coffee_price}}</h3>
                <h3>Number Of Seats: {{cafe.seats}}</h3>
                <h3>Has Toilet: {{toilet}}</h3>
                <h3>Has Wifi: {{wifi}}</h3>
                <h3>Has Sockets: {{socket}}</h3>
                <h3>Can Take calls: {{calls}}</h3>
            </ul>
        </div>
    </div>

</body>
{% include "footer.html" %}